 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
  position: relative;
  background: #1b1b1b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 50px;
}
.title{
  text-align: center;
  color: #1b1b1b;
  padding-top: 10px;
  font-size: 50px;
}
nav .menu-btn i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.navbar ul{
  display: flex;
  flex-direction: row-reverse;
justify-content: flex-start;
  list-style: none;
}
nav .navbar ul li a{
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 17px;
 transition: all 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}
.navbar ul li a:hover{
  color: cyan;
}
.btn-box{
  margin: 100px;
}
.btn-box1,.btn-box2{
  display: flex;
  justify-content: space-around;
    align-items: center;
  margin-top: 50px;

}
.button {
  color: #464141;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  padding: 20px 50px;
  border: 1px solid #3c67e3;
  border-radius: 10px;
}
.button:hover{
  background-color: aqua;
}
#click{
  display: none;
}
@media  (max-width:540px){
  nav .menu-btn i{
    display: block;
  }
  .navbar ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #111;
    height: 300px;
    width: 100%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
  z-index: 1;
  }
  .navbar ul li{
    margin: 40px 0;
  }
  .navbar ul li a:hover{
    background: none;
    color: cyan;
  }
  .btn-box1,.btn-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      gap: 3rem;

  }
  
  #click:checked ~  ul{
    top: 0;
  }
  #click:checked ~ .menu-btn i::before{
    content: "\f00d";
  }
} 