 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
  background: #1b1b1b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
nav .menu-btn i{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
nav ul{
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  font-size: 17px;
 transition: all 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}
nav ul li a:hover{
  background-color: #fff;
  color:#111;
}
nav .logo{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
#click{
  display: none;
}
@media  (max-width:940px){
  nav .menu-btn i{
    display: block;
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 50%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
  }
  nav ul li{
    margin: 40px 0;
  }
  nav ul li a:hover{
    background: none;
    color: cyan;

  }
  #click:checked ~ ul{
    left: 0;
  }
  #click:checked ~ .menu-btn i::before{
    content: "\f00d";
  }
} 